.slick-slider {
  width: 100%;
}

.slick-slide {
  padding: 5px;
}
.slick-dots {
  bottom: -30px !important;
}

.slick-dots .slick-active button::before {
  color: #00dc64 !important;
}

.slick-dots button::before {
  color: white !important;
  font-size: 13px;
}
